.cabecalho {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: var(--tamanho-2dot5);
}

.cabecalho img {
  width: 100px;
  height: 100px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  background-color: var(--cor-terciaria);
}

.cartela {
  display: flex;
}

.quadrado {
  width: 60px;
  height: 60px;
  border: 1px solid var(--preto-cinza);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--tamanho-2dot0);
  font-weight: var(--semibold);
  cursor: pointer;
}

.marcador {
  position: absolute;
  z-index: 2;
  font-size: var(--tamanho-1dot5);
  color: var(--cor-secundaria);
  display: none;
}

.secBotoes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.botoes {
  background-color: var(--cor-principal);
  color: var(--cor-terciaria);
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}

.letraB {
  background-color: var(--laranja-salmao);
}

.letraI {
  background-color: var(--lavanda);
}

.letraN {
  background-color: var(--ouro-velho);
}

.letraG {
  background-color: var(--azul-bebe);
}

.letraO {
  background-color: var(--creme);
}

.linhaBolinha {
  display: flex;
}

.bolinha {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerBolinha {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sorteioBola {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.bolaSorteada {
  font-size: var(--tamanho-7dot0);
}

.painelSorteio {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.repeticao {
  display: flex;
}

.bolota {
  display: none;
}

.quadrado.bolota {
  border: none;
  background-color: transparent;
}

.quadrado {
  width: 50px;
  height: 50px;
}

.bolinha {
  width: 45px;
  height: 45px;

  font-size: 30px;
}

footer {
  background-color: var(--cor-principal);
}

footer img {
  height: 9.9vh;
}
